<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SoilApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moisture">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moisture Levels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> pH Levels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nitrogen">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Nitrogen Levels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="phosphorus">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Phosphorus Levels
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="potassium">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Potassium Levels
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
