@page "/"
@using SoilApp.Data;
@inject FirebaseDataService FirebaseDataService

<h1>Welcome to SoilSight</h1>

<div>
    <img src="/images/cow.png" alt="Cow Eating Grass" class="img-fluid">
    <p>
        Welcome to SoilSight, your go-to solution for real-time soil data analysis. Track and analyse soil moisture,
        pH, and nutrient levels efficiently to ensure optimal agricultural productivity.
    </p>
</div>

<div>
    <h2>Explore Soil Data Trends</h2>
    <p class="mt-2">Explore the latest trends in soil health and nutrients from our comprehensive data analysis.</p>
</div>
@code {
    
}
