@page "/moisture"
@using ApexCharts
@using SoilApp.Data
@inject FirebaseDataService FirebaseDataService

<h3>Moisture</h3>

@if (Data != null && Data.Any())
{
    <ApexChart TItem="SoilTestDataPoint"
               Title="Soil Moisture Levels">
        <ApexPointSeries TItem="SoilTestDataPoint"
                         Items="Data"
                         Name="Moisture Level"
                         SeriesType="SeriesType.Line"
                         XValue="e => e.Date"
                         YValue="e => e.MoistureLevel" />
    </ApexChart>
}
else
{
    <p>Loading data...</p>
}

@code {
    private List<SoilTestDataPoint> Data { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var soilTestDataList = await FirebaseDataService.GetSoilTestDataAsync();
        Data = soilTestDataList.Select(test => new SoilTestDataPoint
        {
            Date = DateTimeOffset.FromUnixTimeSeconds(test.timestamp).DateTime.ToLocalTime().ToString("dd/MM/yyyy HH:mm"),
            MoistureLevel = test.moistureLevel
        }).ToList();
    }

    public class SoilTestDataPoint
    {
        public string Date { get; set; }
        public int MoistureLevel { get; set; }
    }
}
